<a href="https://colab.research.google.com/github/ruchithareddy296/2216139_AIML_BootCamp/blob/main/Copy_of_Copy_of_Copy_of_Copy_of_Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Implement the methods of String with examples.
str="welcome to google colab"
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())
print(str.strip())
print(str.lstrip())
print(str.rstrip())

WELCOME TO GOOGLE COLAB
welcome to google colab
WELCOME TO GOOGLE COLAB
Welcome To Google Colab
Welcome to google colab
welcome to google colab
welcome to google colab
welcome to google colab

In [ ]:
#2. Implement the methods of List with examples.
list=[1,2,3,4]
list.append(5)
print(list)
list.extend([6,7,8,9])
print(list)
list.insert(1,2.1)
print(list)
del list[3]
print(list)
del list[0:3]
print(list)
list.remove(4)
print(list)
list.pop()
print(list)
list.clear()
print(list)
list1=[4,2,7,2,3,2,1]
print(list1.count(2))
list1.reverse()
print(list1)
list1.sort()
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2.1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2.1, 2, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 6, 7, 8]
[]
3
[1, 2, 3, 2, 7, 2, 4]
[1, 2, 2, 2, 3, 4, 7]

In [ ]:
#3. Implement the methods of Tuple with examples.
tuple=(1,2,3)
tuple1=("hello",2.0,4)
tuple2=("hello","thanks","bye")
n_tuple=("hello",(1,2,3),["hello",2.0,4])

print(tuple.count(2))
print(tuple.index(1))
print(max(tuple))
print(min(tuple))
print(len(tuple))

1
0
3
1
3

In [ ]:
#4. Implement the methods of Dictionary with examples.
dict={'name':'ruchitha','phno':4572575451,'add':'wgl'}
print(dict['add'])
print(dict.keys())
print(dict.values())
print(dict.get('name'))

wgl
dict_keys(['name', 'phno', 'add'])
dict_values(['ruchitha', 4572575451, 'wgl'])
ruchitha

In [ ]:
#5. Implement the methods of Set with examples.
set1={1,2,3}
set2={1,2,3,"hai",(1,2)}

set1.add(4)
print(set1)
set1.update([4,5,6])
print(set1)
set1.discard(5)
print(set1)
set1.remove(6)
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}
{1, 2, 3, 4}

In [ ]:
#6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.
decimal = 200

print("The decimal value of", decimal, "is:")
print(bin(decimal), "in binary.")
print(oct(decimal), "in octal.")
print(hex(decimal), "in hexadecimal.")

The decimal value of 200 is:
0b11001000 in binary.
0o310 in octal.
0xc8 in hexadecimal.

In [ ]:
#7. Implement Arithmetic operators with examples.
a=3
b=5

print("arithmetic operations")
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

arithmetic operations
8
-2
15
0.6
0
3
243

In [ ]:
#8. Implement Assignment operators with examples.
print("assignment operations")
a=6
b=4

c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)
c**=a
print(c)

assignment operations
10
16
10
60
10.0
4.0
4096.0

In [ ]:
#9. Implement Comparison operators with examples.
print("comparison operations")
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

comparison operations
False
True
False
True
False
True

In [ ]:
#10. Implement Logical operators with examples.
print("logical operations")
x=True
y=False
print("x and y is",x and y)
print("x or y is",x or y)
print("x not is",not x)

logical operations
x and y is False
x or y is True
x not is False

In [ ]:
#11. Implement Bitwise operators with examples.
print("bitwise operators")
a=10
b=6
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<4)

bitwise operations
2
12
14
-11
2
160

In [ ]:
#12. Implement Membership operators with examples.
print("membership operators")
x="Hi ruchitha"
y={4:'a',6:'b'}
print('H' in x)
print(4 in y)
print('a'in y)

membership operators
True
True
False

In [ ]:
#13. Implement Identity operators with examples.
print("identity operators")
x1=3
y1=5
x2="Hii"
y2="Hello"
x3=[1,2,3]
y3=[1,2,3,4]
print(x1 is not y1)
print(x2 is not y2)
print(x3 is y3)

identity operators
True
True
False

In [ ]:
#14. Demonstrate Negative indexing for List and apply slicing.
list=[1,2,3,14,56,12,16,27]
print(list[::-1])
print(list[:4:-1])
print(list[0:5])
print(list[1:4:1])

[27, 16, 12, 56, 14, 3, 2, 1]
[27, 16, 12]
[1, 2, 3, 14, 56]
[2, 3, 14]

In [ ]:
#15. Predict the output for the given code snippet and justify the result.
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("----------")
print('Welcome to python training program'[3:10][::-1])
# [::-1]  this means it reverse the whole string
#[3:10] this means slice operator it starts from 3rd index and stops at 10th index and then it will reverse the string.
#[4::3] this means slice operator it starts from 4th index and stops unitl the last word of string and also it takes the step of 3.

taawkcbe  tgestrcoeeA
----------
ot emoc

In [ ]:
#16. Write a python code to get desired output.
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[:3:]+" "+str[4:5:]+" "+str[5:6:]+str[7:8:]+str[9:10:]+" "+str[10:11:]+" "+str[11:12:]+str[13:14]+" "+str[14:15]+str[16:17:]+str[18:19:]+" "+str[19:20:]+" "+str[20:21:]+str[22:23:]+" "+str[24::])

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17. You are required to generate a word similar to ZOO, X and Y that denote the number 
#of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
x=int(input("length of x"))
a=('Z'*x)
y=len(a)
z=2*y
y=('O'*z)
print(a+y)

length of x5
ZZZZZOOOOOOOOOO